/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font);
    background-image: var(--bg-page, url(/images/background.png));
    background-position: center;
    background-size: cover;
    background-attachment: fixed
  }
}

.header {
  display: flex;
  align-items: center;
  min-block-size: 100dvb;
  inline-size: clamp(320px, 100vw, 1440px);
  justify-content: center;
  flex-direction: column;
  font-family: var(--accent-font), sans-serif;
}

.header__mobile {
  inline-size: var(--all-width);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7353rem + 1.4747vw, 4.0625rem);
  text-transform: var(--text-title, uppercase);
}

.header__title__description {
  font-size: clamp (0.875rem, 0.691rem + 0.8295vw, 1.4375rem);
  text-transform: var(--text-title, uppercase);
}